<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
      <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js" integrity="sha256-o8aByMEvaNTcBsw94EfRLbBrJBI+c3mjna/j4LrfyJ8=" crossorigin="anonymous"></script>
      <script src="/js/wheelchart.js"></script>
      <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Lobster|Oswald" rel="stylesheet">
      <title>Home Page</title>
    </head>
    <body>
      <canvas id="wheelChart" width="100" height="100">
      {{{body}}}
      </canvas>
    </body>
  </html>
