

        <div class="container" style="background-color:blue;">
      <div class="jumbotron" style="background-color:blue;">
    <h1>WELCOME TO GOALDEN</h1> 
    <br>
    <div class="row">
       
      <div class="col-sm-6" >
          <img class="logo" src="goalden.png" width="400px" alt="logo">
          <p></p><br>
       
      </div>
      <div class="col-sm-6" >
        
        <button type="button" class="btn btn-primary">Sign in</button> <br><br>
        <button type="button" class="btn btn-primary">Sign up</button>
      </div>
    </div>
  </div>
    {{!-- <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Example</h5> --}}
          {{!-- <p>
            <strong>ID</strong>: {{example.id}}</p>
          <p>
          <p>
            <strong>Text</strong>: {{example.UserName}}</p>
          <p>
            <strong>Description:</strong> {{example.Password}}</p> --}}
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
