<div class="container-fluid" style="background-color: rgb(39,170,225); color:white; font-family:'Oswald', sans-serif;">
  <div class="jumbotron" style="background-color: rgb(39,170,225);">
    <h1>WELCOME TO GOALDEN</h1>
    <br>
    <div class="row">
      <div class="col-sm-4" >
          <img class="logo" src="images/goalden.png" width="400px" alt="logo">
         <br>
      </div>
      <div class="col-sm-4" align="center">
        <a href="/login"><button type="button" class="btn btn-primary">Sign in</button></a>
        <a href="/signup"><button type="button" class="btn btn-primary">Sign up</button></a>
      </div>
      <div class="col-sm-4" align="center">
      </div>
    </div>
  </div>
</div>
