<div class="container-fluid" style="background-color: rgb(39,170,225); color:white; font-family:'Oswald', sans-serif;">
  <div class="jumbotron" style="background-color: rgb(39,170,225);">
    <h1>WELCOME TO GOALDEN</h1>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <img class="logo" src="images/goalden.png" width="400px" alt="logo">
        <p></p><br>
      </div>
      <div class="col-sm-4" align="center">
        <form class="clearfix mb-4">
          <div class="form-group">
            <label for="example-text">Username</label>
            <input type="text" id="userName" class="form-control" aria-describedby="example-text" placeholder="Enter user name">
          </div>
          <div class="form-group">
            <label for="example-description">Password</label>
            <input type="password" id="userPassword" class="form-control" aria-describedby="example-text" placeholder="Enter your password">
          </div>
          <a href="/" class="btn btn-primary float-left" style="background-color:grey;">Back</a>
          <button id="loginSubmit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/login.js"></script>
