.list-group-item {
  line-height: 2.5;
}

body{
  background-color: rgb(39,170,225);
  color: white;
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 40px;
}

.welcome{

  font-family: 'Oswald', sans-serif;
  color: white;
  size: 40px;
}
